/* Your Custom CSS Goes here */
.table{
    vertical-align: baseline;
}

.app-auth-sign-up .app-auth-background{
    background: url("../images/backgrounds/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.error-card .error-stacktrace{
    max-height: 400px;
    max-width: 900px;
    overflow: auto;
    margin: 0;
}

.error-card{
    padding: 20px;
    margin: 50px 0;
}

:root{
    --primary-color: #94A675;
    --secondary-color: #8B1224;
}

.logo{
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    color: #000000;
    margin: 0;
}

.navbar-light .navbar-nav .nav-link{
    border: none;
    color: #000;
    background: none;
}

input[type="submit"].dropdown-item{
    color: #40475c;
    padding: 5px 10px;
    margin: 5px 0;
    display: block;
    font-size: 13px;
    font-weight: 400;
    position: relative;
}

input[type="submit"].dropdown-item:focus, input[type="submit"].dropdown-item:hover{
    background: 0 0;
    font-weight: 500;
}

li form{
    margin: 0;
}

li.admin-home-link form input[type="submit"], .accordion-menu li form input[type="submit"]{
    border: none;
    background: none;
    padding: 0;
}

.admin-home-link{
    align-self: center;
}

.accordion-menu li form{
    text-decoration: none;
    color: #40475c;
    font-size: 14px;
    margin: 3px 15px;
    padding: 10px 15px;
    display: block;
    border-radius: 3px;
    line-height: 20px;
}

.accordion-menu li form, .accordion-menu li form input, .accordion-menu li form i{
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

.accordion-menu li form i{
    margin-right: 13px;
    vertical-align: top;
    line-height: 20px;
    filter: invert(41%) sepia(17%) saturate(674%) hue-rotate(182deg) brightness(95%) contrast(89%);
}

.accordion-menu li form:hover{
    padding-left: 20px;
}

.accordion-menu li form:hover input{
    color: #2269F5;
}

.accordion-menu li form:hover i{
    filter: invert(34%) sepia(23%) saturate(3309%) hue-rotate(195deg) brightness(109%) contrast(115%);
}

.car-card-row {
    justify-content: space-between;
    align-items: center;
}

.car-card-row>*{
    line-height: 1.15;
    max-width: 170px;
    width: auto;
    margin: 0;
}

.car-card-img{
    display: block;
    width: inherit;
    object-fit: fill;
}

.car-card-img-container{
    width: 100%;
    height: 183px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.custom-nav-bar{
    width: 230px;
    justify-content: space-between;
}

.lang-button{
    display: flex;
    align-items: center;
}

.lang-button::before{
    content: '';
    display: inline-block;
    width: 30px;
    height: 30px;
    flex-shrink: 0;
    margin: 0 7px;
}

.ru-button::before{
    background: url("../images/flags/russia.png") no-repeat;
    background-size: contain;
}

.eng-button::before{
    background: url("../images/flags/us.png") no-repeat;
    background-size: contain;
}

.admin-panel-btn{
    background: url("../images/icons/admin_panel_settings.svg");
}

.order-car-link{
    border: none;
    background: none;
    text-decoration: underline;
}

.custom-search {
    padding: 10px 14px;
    border: none;
    background: no-repeat;
}

